@import url("https://use.typekit.net/yfs0bso.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
:root {
    --background-color1:#FDF4ED;
    --color1:#202D3F;
    --color2:#3779A6;
    --color3:#FFF8F2;
    --color4:#FBF3EC;
    --color5:hwb(24 56% 14%);
    --color6:#B3553D;
  }
.row h1{
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    text-align: left;
}
.storeForm-disabled{
  display: none;
}
.storeForm{
  border: 1px solid rgb(96,96,96, 0.5) ;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.navigation-form ul{
  justify-content: right;
  text-align: right;
  padding-top: 2%;
  
}
.navigation-form ul li{
  display: inline;
  color: var(--color1);
  text-decoration: none;
  padding: 10px;
  padding-left: 50px;
  font-family: 'Freight Sans Pro Medium', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
  
}
.row{
  width: 95%;
  display: flex;
  position: relative;
  left: 20px;
}
.form-btn{
  display: flex;
  justify-content: right;
}
.address-section{
  display: flex;
  flex-direction: row;
  margin: 3%;
}
.address-section .address-section-input{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 70%;

}
.add-rmv{
  display: flex;
  padding: 2%;
}
.add-rmv .col-md-6{
  margin-left: 5%;
}
.address-section .map-section{
  position: relative;
  display: flex;
  width: 60%;
  height: 100%;
  margin-left: 2%;
  margin-bottom: 100px;
}
/* 
.address-section .map-section img{
  width: 100%;
} */
.businessHours{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.workingHours{
  display: flex;
  flex-direction: row;
  margin: 2%;
}
.form-check{
  width: 30%;
}
.startTime{
  display: flex;
  margin-left: 7%;
 
}
.nxt {
  justify-content: right;
  text-align: right; /* Align "Next" button to the right */
  padding: 1%;
}

.prev {
  text-align: left; /* Align "Previous" button to the left */
  padding: 1%;
}
.submit {
  text-align: right; /* Align "Next" button to the right */
  padding: 1%;
}
/*email form*/
.email-form-disable{
  display:none;
}
.email-form{
  display: flex;
}
.input-group{
  width: 50%;
}
.map-section-try{
  display: flex;
  width: 60%;
  height: 100%;
  margin-left: 2%;
  margin-bottom: 0px;
}