.result-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result {
    margin: 0px;
    padding: 10px;
    margin-bottom: 50px;
   
    border-radius: 5px;
    width: 33%; /* Display results in 3 columns */
}