:root {
    --background-color1:#FDF4ED;
    --color1:#202D3F;
    --color2:#3779A6;
    --color3:#FFF8F2;
    --color4:#FBF3EC;
    --color5:#DBAE8F;
    --color6:#B3553D;
  }
body {
    margin: 0;
    background-color: var(--color4);
}
.title{
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    
}
.title h1{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 43px;
    color: #202D3F;
   
}
.filter{
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    border-bottom: 1px solid var(--color1) ;
    margin-right:140px ;
   
}
.filter h3{
    
    color: var(--color1);
    font-family: 'Freight Sans Pro Medium', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    
}
.filter ul{

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    
}
.filter ul li {
    color: var(--color1);
    font-family: 'Freight Sans Pro Medium', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
    margin-left: 80px;
    white-space: nowrap; 
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Adjust the third column width as needed */
    grid-template-rows: repeat(3, auto); /* Let rows auto-size based on content */
    overflow-y: scroll;
    gap: 55px;
    max-height: auto;
    max-width: min-content;
    margin-left: 100px;
    margin-top: 50px;
}

/* Individual grid items */
.grid-item {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /*border:1px solid black;*/
    width: 350px; /* Set the fixed width for all grid items */
    height: 420px; /* Set the fixed height for all grid items */
}

.grid-item img {
    width: 350px;
    height: 400px;

}
.grid-item h2{
    margin-top: 20px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    color: #202D3F;
    text-align: left;
    line-height: 1.15;

}
.grid-item p{
    margin-top: 10px;
    font-family: 'Freight Sans Pro Medium', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #202D3F;
    text-align: left;

}

.grid-item-map {
        border: 15px solid var(--color5);
        display: flex; /* Add this to center the image horizontally and vertically */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
    
}
.grid-item-map img{
    width: 540px; 
    height: 400px; 

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}