@import url("https://use.typekit.net/yfs0bso.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
:root {
  --background-color1:#FDF4ED;
  --color1:#202D3F;
  --color2:#3779A6;
  --color3:#FFF8F2;
  --color4:#FBF3EC;
  --color5:#DBAE8F;
  --color6:#B3553D;
}

.container {
  position: relative;
  display: flex;
  max-width: 100%;
}

.content {
  background-color: var(--background-color1);
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-section {
  background-image: url('../assets/home/homebg1.png');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;
}

.hero-section .hero {
  position: relative;
  margin-top: 100px;
  margin-bottom: 150px;
  height: auto;
  width: 750px;
  float: left;
}

 .hero-section .text-section {
  color: rgba(255, 248, 242, 0.9); /* #FFF8F2 with 0.99 opacity */
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 200px;
  text-align: justify;
}
.hero-section .text-section h1 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: 44px;
  letter-spacing: 2px;
}
.hero-section .text-section h3 {
  margin-top: -15px;
  letter-spacing: 3px;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.hero-section .text-section p {
  margin-top: 7px;
  font-family: 'Alegreya', serif;
  font-weight: 100;
  font-size: 20px;
  opacity: 0.9;
}
.hero-section .text-section .search{
  display: flex;
  flex-direction: row;
}

.hero-section .text-section .search input {
  height: 53px;
  width: 370px;
  border:  1.5px solid rgb(145, 147, 159);
  color:var(--color1);
  background-color: transparent;
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 3px;
}
.hero-section .text-section .search button {
  position: relative;
  margin-left: 10px;
  height: 55px;
  width: 200px;
  color:var(--color1);
  background-color:var(--color5);
  margin-top: 30px;
  font-size: 15px;
  font-family: 'Freight Sans Pro Medium', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.hero-section .text-section button:hover {
  opacity: 0.7;
  transition: 0.2s;
  cursor: pointer;
}



.start-exploring {
  background-color: var(--background-color1);
  position: relative;
  display: flex;
  flex-direction: column; 
}
.start-exploring h1 {
  position: relative;
  margin-top: 80px;
  text-align: center; /* Center the text */
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 43px;
  color: var(--color1);
}

.start-exploring .images-section {
  position: relative;
  display: flex;
  margin-top: 80px; /* Adjust margin as needed */
  margin-left: 80px;
  margin-bottom: 100px;
  margin-right: 80px;
}
.start-exploring .images-section .first,
.start-exploring .images-section .second,
.start-exploring .images-section .third {
  margin:0 20px;
  text-align: center;
}

.start-exploring .images-section img {
  width: 300px;
  height: 240px;
}
.start-exploring .images-section h2 {
  position: relative;
  margin-left: 0; /* Remove margin */
  margin-top: 30px;
  font-family: 'Freight Sans Pro Medium', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
}
.start-exploring .images-section p{
  font-family: 'Alegreya', serif;
  font-weight: 100;
  font-size: 20px;
  margin-top: 10px;
}
.start-exploring .images-section button{
  position: relative;
  height: 55px;
  width: 200px;
  color:var(--color4);
  background-color:var(--color2);
  border: none;
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Freight Sans Pro Medium', sans-serif;
  letter-spacing: 2px;
}
 .learn-more {
  background-color: var(--color5);
  position: relative;
  display: flex;
  flex-direction: row;
}
.learn-more .store-description{
  text-align: center;
  margin-top: 300px;
  position: relative;
  margin-left: 100px;
}
.learn-more .store-description h1 {
  color: var(--color1);
  font-family:"brandon-grotesque", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 44px;
}
.learn-more .store-description h3 {
  color: var(--color1);
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 3px;
}
.learn-more .store-description p{
  color: var(--color1);
  font-family:  'Alegreya', serif;;
  font-weight: 100;
  font-size: 18px;
}
.learn-more .store-description button{
    position: relative;
    height: 55px;
    width: 200px;
    color:rgba(255, 248, 242, 0.70);
    background-color:var(--color6);
    border: none;
    font-size: 15px;
   font-family:'Freight Sans Pro Medium', sans-serif;
   font-weight: 100;
   letter-spacing: 2px;
   margin-top: 30px;
  }

.learn-more .store-img{
  width: 815px; /* Make images automatically fit the screen width */
  height: 750px; /* Maintain aspect ratio */
}
.learn-more .featured{
  width: 70px;
  height: auto;
  margin-left: 50px;
}
  .blog-section {
    background-image: url('../assets/home/homebg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;

  }
   .blog-section h1 {
    color: var(--color1);
    position: relative;
    margin-top: 50px;
    text-align: center; /* Center the text */
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-weight: 100;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
   .blog-section .images-section {
    position: relative;
    display: flex;
    margin-top: 80px; /* Adjust margin as needed */
    margin-left: 80px;
    margin-right: 100px;
    margin-bottom: 100px;
  }
   .blog-section .images-section .first,
   .blog-section .images-section .second,
   .blog-section .images-section .third {
    margin-left: 60px; /* Add spacing between divs */
    
  }
  
   .blog-section .images-section img {
    width: 350px;
    height: 400px;
  }
   .blog-section .images-section h2 {
    color: var(--color1);
    position: relative;
    margin-top: 20px;
    text-align: left; /* Center the text */
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
   .blog-section .images-section p{
    color: var(--color1);
    font-family: 'Alegreya', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    margin-top: 10px;
    text-align: justify;
  }
   .mission-section {
    background-image: url('../assets/home/homebg3.png');
    background-color: #f2ebe4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items horizontally */
    text-align: center;
  }
   .mission-section h1{
    color: var(--color1);
    position: relative;
    margin-top: 120px;
    text-align: center; /* Center the text */
    font-family:"brandon-grotesque", sans-serif;
    font-weight: 500;
    font-size: 38px;
    font-style: normal;
    letter-spacing: 7px;
  }
.mission-section p{
    color: var(--color1);
    font-family:  'Alegreya', serif;
    font-weight: 100;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
  }
  .mission-section button{
    color: var(--color1);
    position: relative;
   height: 55px;
   width: 250px;
  background-color:var(--color5);
  margin-top: 35px;
  font-size: 14px;
  font-family: 'Freight Sans Pro Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 3px;
  margin-bottom: 100px;
  border: none;
  }