:root {
  --background-color1:#FDF4ED;
  --color1:#202D3F;
  --color2:#3779A6;
  --color3:#FFF8F2;
  --color4:#FBF3EC;
  --color5:#DBAE8F;
  --color6:#B3553D;
}
.container {
  position: relative;
  max-width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container .content {
  background-color: var(--background-color1);
  position: relative;
 
}

.container .content .hero-section {
  background-image: url('../assets/home/homebg1.png');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: row;/* Display hero and text-section side by side */
 
}

.container .content .hero-section .hero {
  position: relative;
  margin-top: 100px;
  margin-bottom: 150px;
  height: 750px;
  width: 1000px;
  float: left;
}

.container .content .hero-section .text-section {
  color: rgba(255, 248, 242, 0.87); /* #FFF8F2 with 0.99 opacity */
  position: relative;
  margin-left: 150px;
  margin-top: 300px;
  text-align: justify;
  
}

.container .content .hero-section .text-section h1 {
  font-family: Bradley Hand, cursive;
  line-height: 1.5;
  font-size: 45px;
}

.container .content .hero-section .text-section h3 {
  font-family: 'Freight Sans Pro Medium', sans-serif;
  font-weight: 400;
  line-height: 2.5;
  font-size: 25px;
}

.container .content .hero-section .text-section p {
  font-family: 'Freight Sans Pro Medium', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.container .content .hero-section .text-section input {
  display: inline;
  height: 70px;
  width: 420px;
  border:  2px solid rgb(145, 147, 159);
  color:var(--color1);
  background-color: transparent;
  margin-top: 30px;
  text-align: center;
  font-size: 22px;
}

.container .content .hero-section .text-section button {
  position: relative;
  margin-left: 10px;
  height: 70px;
  width: 250px;
  color:var(--color1);
  background-color:var(--color5);
  margin-top: 30px;
  font-size: 20px;
  font-family: brandon-grotesque, sans-serif;
}

.container .content .hero-section .text-section button:hover {
  opacity: 0.7;
  transition: 0.2s;
  cursor: pointer;
}



.container .content .start-exploring {
  background-color: var(--background-color1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the items horizontally */
  text-align: justify; /* Center the text horizontally */
}
.container .content .start-exploring h1 {
  position: relative;
  margin-left: 0; /* Remove margin */
  margin-top: 130px;
  text-align: center; /* Center the text */
  font-family: 'Freight Sans Pro Medium', sans-serif;
  font-weight: 100;
  font-size: 40px;
  font-weight: bold;
}

.container .content .start-exploring .images-section {
  position: relative;
  display: flex;
  margin-top: 50px; /* Adjust margin as needed */
  margin-left: 50px;
  padding: 55px;
}
.container .content .start-exploring .images-section .first,
.container .content .start-exploring .images-section .second,
.container .content .start-exploring .images-section .third {
  margin: 0 90px; /* Add spacing between divs */
  flex: 1; /* Allow divs to grow and fill available space evenly */
  text-align: center; /* Center the text */
  padding: 0px;
  margin-bottom: 100px;
}

.container .content .start-exploring .images-section img {
  align-items: center;
  width: 320px;
  height: 280px;
  margin: 0px; /* Add spacing between images */
}
.container .content .start-exploring .images-section h2 {
  position: relative;
  margin-left: 0; /* Remove margin */
  margin-top: 30px;
  text-align: center; /* Center the text */
  font-family: 'Freight Sans Pro Medium', sans-serif;
  font-weight: 100;
  font-size: 25px;
}
.container .content .start-exploring .images-section p{
  font-family: 'Freight Sans Pro Medium', sans-serif;
  font-weight: 100;
  font-size: 18px;
 margin-top: 10px;
  text-align: justify;
}
.container .content .start-exploring .images-section button{
  position: relative;
  height: 55px;
  width: 220px;
  color:var(--color4);
  background-color:var(--color2);
  margin-top: 20px;
  font-size: 15px;
  font-family: brandon-grotesque, sans-serif;
}
.container .content .learn-more {
  background-color: var(--color5);
  position: relative;
  display: flex;
  flex-direction: row;
}
.container .content .learn-more .store-description{
  margin-left: 150px;
  text-align: center;
  margin-top: 350px;
  position: relative;
  margin-right: 100px;
}
.container .content .learn-more .store-description h1 {
  font-family: Bradley Hand, cursive;
  font-size: 40px;
}
.container .content .learn-more .store-description h3 {
  font-family: 'Freight Sans Pro Medium', sans-serif;
  font-weight: 400;
  line-height: 2.5;
  font-size: 22px;
}
.container .content .learn-more .store-description p{
font-family: 'Freight Sans Pro Medium', sans-serif;
  font-weight: 100;
  font-size: 18px;
  text-align: justify;
}
  .container .content .learn-more .store-description button{
    position: relative;
  height: 55px;
  width: 220px;
  color:rgba(255, 248, 242, 0.70);
  background-color:var(--color6);
  font-size: 15px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 100;
  margin-top: 30px;
  }
.container .content .learn-more .store-image{
  position: relative;
  display: flex;
  flex-direction: row;
}
.container .content .learn-more .store-image .store-img{
  width: 800px; /* Make images automatically fit the screen width */
  height: auto; /* Maintain aspect ratio */
}
.container .content .learn-more .store-image .featured{
  width: 100px;
  height: auto;
}
  .container .content .blog-section {
    background-image: url('../assets/home/homebg2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items horizontally */
    text-align: justify; /* Center the text horizontally */
  }
  .container .content .blog-section h1 {
    color: var(--color1);
    position: relative;
    margin-top: 150px;
    text-align: center; /* Center the text */
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-weight: 100;
    font-size: 35px;
    font-weight: 100;
    text-transform: uppercase;
  }
  .container .content .blog-section .images-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px; /* Adjust margin as needed */
    margin-left: 50px;
    padding: 55px;
  }
  .container .content .blog-section .images-section .first,
  .container .content .blog-section .images-section .second,
  .container .content .blog-section .images-section .third {
    margin: 0 20px; /* Add spacing between divs */
    flex: 1; /* Allow divs to grow and fill available space evenly */
    text-align: center; /* Center the text */
    padding: 0px;
    margin-bottom: 10px;
  }
  
  .container .content .blog-section .images-section img {
    align-items: center;
    width: 420px;
    height: 480px;
    margin: 0px; /* Add spacing between images */
  }
  .container .content .blog-section .images-section h2 {
    color: var(--color1);
    position: relative;
    margin-left: 40px; /* Remove margin */
    margin-top: 30px;
    text-align: left; /* Center the text */
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-weight: 100;
    font-size: 25px;
    text-transform: uppercase;
  }
  .container .content .blog-section .images-section p{
    color: var(--color1);
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-weight: 100;
    font-size: 22px;
   margin-top: 10px;
    text-align: left;
    margin-left: 40px;
  }
  .container .content .mission-section {
    background-image: url('../assets/home/homebg3.png');
    background-color: #f2ebe4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items horizontally */
    text-align: justify;
  }
  .container .content .mission-section h1{
    color: var(--color1);
    position: relative;
    margin-left: 0; /* Remove margin */
    margin-top: 130px;
    text-align: center; /* Center the text */
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-weight: 100;
    font-size: 40px;
    font-weight: normal;
  }
  .container .content .mission-section p{
    color: var(--color1);
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-weight: 100;
    font-size: 20px;
   margin-top: 30px;
    text-align: center;
  }
  .container .content .mission-section button{
    color: var(--color1);
    position: relative;
  height: 55px;
  width: 300px;
  background-color:var(--color5);
  margin-top: 35px;
  font-size: 18px;
  font-family: brandon-grotesque, sans-serif;
  }