.slideshow-container {
    overflow: hidden;
  }
  
  .learn-more.hide {
    display: none;
    transition: transform 5s ease-in-out; /* Adjust the duration and easing as needed */
  }
  

  
  /* Additional styles for each slide, such as width and positioning */
  
  
  /* Add styles for other transitions, such as opacity, if desired */
  @import url("https://use.typekit.net/yfs0bso.css");
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');


.learn-more-mobile{
  display: none;
}
