@import url("https://use.typekit.net/yfs0bso.css");
:root {
    --background-color1:#FDF4ED;
    --color1:#202D3F;
    --color2:#3779A6;
    --color3:#FFF8F2;
    --color4:#FBF3EC;
    --color5:#DBAE8F;
    --color6:#B3553D;
  }
  .container-2{
    position: relative;
  }
.section-1{
 display: flex;
 background-color: var(--color5);
 width: 100%;
}

.section-1 .text-section {
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-top: 8%;
    color: var(--color1);
    text-align: center;
    width: 45%;
}
.section-1 .text-section h1{
    text-align: center;
    font-family: "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 37px;
    line-height: 1.15;
}
.section-1 .text-section h3{
    letter-spacing: 2px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
    font-size: 2.2vh;
    margin-bottom: 5%;
    margin-top: 5%;
    line-height: 1.15;
}
.description1{
    width: 80%;
}

.section-1 .text-section .description{
    color: #202D3F;
    font-size: 2.1vh;
    font-weight: 500;
    font-style: normal;
    font-family:  'Alegreya', sans-serif;
    width: 80%;
}
.section-1 .text-section .description p{
    text-align: center;
    justify-content: center;
    line-height: 1.35;
}

.section-1 .image-section{
    width: 55%;
    
}
.section-1 .image-section img{
  width: 100%;
  height: 84dvh;
}

.section-2{
    display: flex;
    flex-direction: column;
    background-color: #FBF3EC;
    color: var(--color1);
    align-items: center;
    width: 100%;
}
.section-2 h1{
    text-align: center;
    margin-top: 8%;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    letter-spacing:1px;
    line-height: 1.15;
}
.section-2 .texts{
    display: flex; 
    width: 80%;
    margin-top: 4%;
   
}
.section-2 .texts .text-one,.section-2 .texts .text-two, .section-2 .texts .text-three {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2%;
}
.section-2 .texts p{
    margin-top: 3%;
    font-family: 'Alegreya', serif;
    font-weight: 100;
    font-size: 2.1vh;
}
.section-2 .texts h1{
    line-height: 1.5;
    letter-spacing: 3px;
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 500;
    font-size: 2.6vh;
}
.section-2 button{
    position: relative;
    height: 7vh;
    width: 107%;
    color:rgba(255, 248, 242);
    background-color:var(--color6);
    border: none;
    font-size: 1.8vh;
    font-family: 'Freight Sans Pro Medium', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-style: normal;
    margin-top: 15%;
    margin-bottom: 40%;

}


